body {
  background-color: #a0def7;
  background-image: url("https://www.transparenttextures.com/patterns/checkered-light-emboss.png");
}

.navbar {
  width: 70px;
  border-radius: 35px;
  margin: 10px;
}

.navbar img,a {
  float: left;
  margin-left: -7px;
}

#hidden-nav, .label {
  display: none;
}

.logos {
  width: 35px;
}

.container {
  margin-left: 100px;
}

h5 {
  margin-top: 10px;
}

img {
  height: 100%
}

.card {
  margin: 10px;
  border-radius: 10px;
}
